/*comentariooop
aaaaaaa*/
.redesSociales {
  display: flex;
  flex-direction: column;
  margin-top: 20rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 3rem;
  font-weight: bold; }

.redesSociales li {
  margin: 1rem; }

.redesSociales ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 2rem; }

.redesSociales li a {
  display: flex;
  flex-direction: column;
  align-items: center; }

.noticias {
  display: inline-grid;
  grid-template-areas: "principal principal secundaria"
  "principal principal terciaria"
  "cuarta quinta sexta"; }

.noticiaPrincipal {
  grid-area: principal;
  list-style: none;
  font-size: 5rem;
  font-weight: bold;
  border-right: solid;
  animation-duration: 2s;
  animation-name: aparecer; }

.noticiaSecundaria {
  grid-area: secundaria;
  list-style: none;
  padding-left: 2rem;
  font-size: 3rem;
  font-weight: bold;
  animation-duration: 6s;
  animation-name: aparecer; }

.noticiaTerciaria {
  grid-area: terciaria;
  list-style: none;
  padding-left: 2rem;
  font-size: 3rem;
  font-weight: bold;
  animation-duration: 6s;
  animation-name: aparecer; }

.noticiaCuarta {
  grid-area: cuarta;
  list-style: none;
  margin-top: 3rem;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1.5rem;
  border: solid black;
  animation-duration: 6s;
  animation-name: aparecer; }

.noticiaQuinta {
  grid-area: quinta;
  list-style: none;
  border: solid black;
  margin-top: 3rem;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1.5rem;
  animation-duration: 6s;
  animation-name: aparecer; }

.noticiaSexta {
  grid-area: sexta;
  list-style: none;
  margin-top: 3rem;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1.5rem;
  border: solid black;
  animation-duration: 6s;
  animation-name: aparecer; }

@media (max-width: 780px) {
  .noticias {
    display: flex;
    flex-direction: column; } }

.noticias li {
  align-items: flex-start; }

.noticias p {
  font-weight: normal;
  font-size: 2rem; }

.noticias li p {
  font-size: 2.5rem; }

.noticias {
  padding-left: 4rem;
  padding-right: 4rem; }

.noticias li div:hover {
  color: #2baac8; }

.listaPrincipal {
  font-family: 'News Cycle', sans-serif;
  list-style: none;
  color: #000407;
  text-align: center;
  font-size: 4rem;
  margin: 6rem; }

.listaPrincipal li {
  padding: 1rem; }

.listaPrincipal li a:hover {
  color: #2baac8; }

.listaSecundaria {
  list-style: none;
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  background-color: var(--secundario); }

.listaSecundaria li a:hover {
  color: white; }

@media (min-width: 780px) {
  .listaSecundaria {
    flex-direction: row; } }

.productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  padding: 5rem; }

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #207d94;
  margin: 4rem;
  padding: 2rem;
  justify-content: space-between; }

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 4rem 4rem 4rem 4rem rgba(0, 0, 0, 0.2); }

.container {
  padding: 2px 16px; }
