
body {
    background-color: #100e17;
    font-family: 'Open Sans', sans-serif;
}
.carousel {
    display: flex;
    justify-content: center;
    margin: 10rem;
}
@media (max-width:780px){
    .carousel{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.tarjeta {
    display: flex;
    height: 45rem;
    width: 30rem;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
}
.tarjeta:not(:first-child) {
    margin-left: -50px;
}
.tarjeta:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}
.tarjeta:hover ~ .tarjeta {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}
.title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
}
.tarjeta:hover .title{
    color: var(--claro);
}
.bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
}
.emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
}
.filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, var(--principal) 65%,var(--oscuro) 100%);
    transition: 0.6s ease-out;
}
.tarjeta:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
}

.circle {
    position: absolute;
    top: 150px;
    left: calc(50% - 60px);
}
.icono{
    position: absolute;
    top: 170px;
    left: calc(50% - 40px);
}

.tarjeta p{
    color: white;
    position: absolute;
    top: 30rem;
    padding: 1rem;
}
.stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-outx;
    background-image: ;
}
svg {
    fill: #17141d;
    stroke-width: 2px;
}

.tarjeta:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
}

/* Estilos GENERALES*/
:root{
    --oscuro: #06171d;
    --oscuro2: #0c2e3e;
    --principal: #155266;
    --secundario: #207d94;
    --claro: #2baac8;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
    font-family: 'News Cycle', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -100;
}
a{
    text-decoration: none;
    color: black;
}
body{
    background-image: radial-gradient(circle, #d5d5d5, var(--oscuro2));
}

footer{
    text-align: center;
    font-style: italic;
    color: white;
    background-color: rgb(66, 93, 94);
    margin-bottom: 0rem;
    padding-bottom: 0rem;
    border: solid 0.1rem black
}

.inicio{
    text-align: left;
    font-size: 2rem;
    padding: 1rem;
    font-weight: bold;
}
.inicio a{
    color: var(--secundario);
}

.nombreEmpresa{
    text-align: center;
    margin: 0rem;
    padding-top: 3rem;

}
.nombreEmpresa a {
    color: var(--claro);
    text-decoration-line: none;
    -webkit-text-stroke: 0.2rem black;
    font-size: 8rem;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 0.5rem;
}
/*Fin estilos generales*/

.parrafoDescripcion{
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 2.5rem;
}

.registroUsuario{
    font-size: x-large;
}

/*Aca Empiezan los estilos de pagina FIGURAS*/
.equipo{ 
    text-align: center;
    color: #BCD8ED;
    font-size: 3rem;
}
.nuestroEquipo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.nuestroEquipo div{
    max-width: 30%;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

/*Aca terminan los estilos de pagina FIGURAS*/


/* Estilos para pagina JUGADAS*/
.listaJugadas{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 5rem;
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.listaJugadas li{
    list-style: none;
    border: outset 0.5rem black;
    margin: 5rem;
}


/* Estilos para pagina Sobre nosotros*/
.parrafoDescripcion{
    padding-left: 4rem;
    padding-right: 4rem;
}


